[user]
  name = Jason Staten
  email = jason.staten@domo.com
	signingkey = 2B56175E
[alias]
  st = status -s
  co = checkout
  lg = log --pretty=format:'%Cred%h%x09%Cgreen%ad%x09%Cblue%<(8,trunc)%ce%x08%x08 %C(yellow)%d%Creset %s %C(green)%GS%Creset' --abbrev-commit --date=relative
  cop = checkout @{-1}
  com = checkout master
  headless = !sh -c 'git symbolic-ref HEAD refs/heads/$0 && rm .git/index && git clean -fdx'
  pb = !sh -c 'git push -u origin $(git rev-parse --abbrev-ref HEAD)'
  cm = commit -S
  wherewasi = !sh -c "for i in $$(seq 1 10); do git rev-parse --abbrev-ref @{-$i}; done"

[push]
  default = simple

[color]
  ui = true

[merge]
  tool = nvimdiff
[mergetool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$MERGED\" \"$BASE\" \"$REMOTE\" -c 'wincmd w' -c 'wincmd J'"
[commit]
	verbose = true
